/* сделать стили нормальные (?) шрифт (?) и подкорректировать сам текст */
.container {
  padding: 100px;
  font-family: var(--font-secondary);
  background-color: var(--color-bg-primary);

}

.content {
  margin-top: 20px;
  text-align: start;
}

.content p {
  margin-bottom: 20px;
}
