.address {
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 3vw, 30px);
  padding-inline: clamp(16px, 6vw, 95px);
  padding-bottom: clamp(48px, 8vw, 100px);
  position: relative;
}

.title {
  text-align: left;
  color: var(--color-text-primary);
}

.content {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: clamp(32px, 4vw, 50px);
}

.info {
  display: flex;
  flex-direction: column;
  gap: clamp(2px, 3vw, 40px);
  font-family: var(--font-secondary);
  font-size: clamp(1rem, 2vw, var(--font-size-text));
  font-weight: var(--font-weight-regular);
  color: var(--color-text-primary);
  text-align: left;
}

.action {
  width: 80%;
}

.list {
  list-style: none;
}

.list li {
  position: relative;
  padding-left: 18px;
}

/* Кастомные кружочки */
.list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 6px;
  height: 6px;
  background-color: var(--color-text-primary);
  border-radius: 50%;
}

.map {
  width: 100%;
  height: clamp(250px, 40vw, 400px);
  border-radius: 16px;
  overflow: hidden;
}

@media (width <= 768px) {
  .content {
    grid-template-columns: 1fr;
  }

  .title,
  .text,
  .textSecondary p {
    text-align: center;
  }

  .title {
    margin-bottom: 8px;
  }

  .text {
    line-height: 1.6;
  }

  .action {
    width: 100%;
    max-width: 280px;
    margin-inline: auto;
    padding-block: 14px;
    font-size: 1rem;
    display: block;
  }

  .textSecondary p {
    margin-bottom: 12px;
  }

  .list {
    max-width: 400px;
    margin-inline: auto;
    text-align: left;
    padding-left: 0;
  }

  .list li {
    padding-left: 20px;
    margin-bottom: 10px;
    line-height: 1.5;
    overflow-wrap: break-word;
    word-break: normal;
  }

  .list li::before {
    top: 9px;
    left: 0;
    width: 6px;
    height: 6px;
  }

  .map {
    height: 300px;
    border-radius: 12px;
  }
}
