.directions {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 80%;
  text-align: left;
}

.directionsContent {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-text);
  color: var(--color-text-primary);
}

.directionsList {
  list-style: none;
}

.directionsList li {
  position: relative;
  padding-left: 18px;
}

.directionsList li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 6px;
  height: 6px;
  background-color: var(--color-text-primary);
  border-radius: 50%;
}

/* Адаптив для планшетов */
@media (max-width: 1390px) {
    .directions {
        width: 100%;
        gap: 40px;
    }
}

/* Адаптив для мобильных телефонов */
@media (max-width: 767px) {
    .directions {
        gap: 30px;
    }
    .directionsList li {
        word-break: break-word; /* Добавляем перенос длинных слов */
    }
}