.tabs {
  display: flex;
  gap: 20px;
}

.tabButton {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-small);
  padding-block: 18px;
  inline-size: 240px;
  border-radius: 10px;
  background: var(--button-bg-secondary);
  color: var(--button-text-secondary);
  border: none;
  cursor: pointer;
}


.tabButton:hover {
  color: var(--color-text-primary);
}

.active {
  background: var(--button-bg-color-blue);
  color: var(--button-text-primary);
}

/* Адаптив для планшетов */
@media (max-width: 1390px) {
    .tabs {
        gap: 16px;
        flex-wrap: wrap;
    }
    .tabButton {
        flex: 1 1 auto;
        min-width: 180px;
        width: auto;
        padding-block: 14px;
    }
}

/* Адаптив для мобильных телефонов */
@media (max-width: 767px) {
    .tabButton {
        width: 100%;
        min-width: unset;
    }
}